<div class="panel-body">
	<div class="border margin">
		<p class="h3 p-3">{{requesterDetail.name}}<p>
				<div class="row">
					<div class="col-md-3">
						<div class="thumb">
							<img class="img-fluid" src='{{requesterDetail.image}}' alt="{{requesterDetail.image}}" />
						</div>
					</div>
					<div class="col">
						<dl>
							<dt>Login</dt>
							<dd>{{requesterDetail.login}}</dd>
							<dt>Email</dt>
							<dd>{{requesterDetail.email}}</dd>
							<dt>Phone</dt>
							<dd>{{requesterDetail.phone}}</dd>
							<dt>Unit</dt>
							<dd>{{requesterDetail.unit.name}}</dd>
						</dl>
					</div>

				</div>
	</div>
	<p class="h3 p-3" *ngIf="requesterDetail.requests.length != 0">Requests by this requester: </p>
	<div class="container-fluid" *ngIf="requesterDetail.requests.length != 0">
		<div class="col-md-2">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Name</th>
						<th>Purpose</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let r of requesterDetail.requests">
						<td>{{r.name}}</td>
						<td>{{r.purpose}}</td>
						<td>{{r.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>