<h2 class="developersHeader">Developers</h2>
<div class="container">
 
	<div class="row">
    <div class="col-10">

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Is Leader?</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of developers" >
            <th scope="row"><a class="nav-link" [routerLink]="['/developers',{outlets:{'detail':[d.id]}}]" routerLinkActive="active">{{d.id}}</a></th>
            <td>{{d.name}}</td>
            <td>{{d.login}}</td>
            <td>{{d.email}}</td>
            <td>{{d.leader}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
